name: Release publish
on:
  push:
    branches: [master]

env:
  HUSKY: 0

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: write
      issues: write
      pull-requests: write

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com
          scope: "@msobiecki"

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Release with semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      - name: Run publish to NPMjs
        uses: JS-DevTools/npm-publish@v3
        with:
          registry: https://registry.npmjs.org/
          token: ${{ secrets.NPM_TOKEN }}
          access: public
